.App {
  font-family: sans-serif;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
}

body {
  background-color: lightblue;
}

input {
  padding: 1rem;
  width: 80%;
}

input::placeholder {
  font-size: 15px;
}

.heading {
  margin-top: 20px;
  padding: 10px;
  background-color: #4338ca;
  color: white;
}

span {
  margin: 1.5rem;
}

.heading2 {
  padding: 10px;
  background-color: #4338ca;
  color: white;
  width: 10rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.mb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
